services:
  portainer:
    container_name: tools_portainer
    extends:
      file: ./services/portainer/docker-compose.yml
      service: portainer
  traefik:
    container_name: ${APP_TRAEFIK_CONTAINER_NAME:-tools_traefik}
    extends:
      file: ./services/traefik/docker-compose.yml
      service: proxy
  mailpit:
    container_name: ${APP_MAILPIT_CONTAINER:-tools_mailpit}
    extends:
      file: ./services/mailpit/docker-compose.yml
      service: smtp
  redis:
    container_name: tools_redis
    extends:
      file: ./services/redis/docker-compose.yml
      service: redis
  jenkins:
    extends:
      file: ./services/jenkins/docker-compose.yml
      service: jenkins
  beekeeper:
    extends:
      file: ./services/beekeeper-studio/docker-compose.yml
      service: beekeeper
volumes:
  cache:
    name: redis_cache
    driver: local
  portainer_data:
networks:
  app_network:
    name: ${APP_NETWORK_NAME:-app_network}
    driver: bridge
    attachable: true
    enable_ipv4: true
    enable_ipv6: false
